@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://i.pinimg.com/originals/0d/36/23/0d3623c187d15098071f74361444ef34.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
