@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://s1.1zoom.ru/big3/596/Evening_Forests_Mountains_Firewatch_Campo_Santo_549147_2560x1440.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
